@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;500;600&display=swap');

:root{
    --clr-lightgreen: #606C38;
    --clr-darkgreen: #283618;
    --clr-white: #FEFAE0;
    --clr-lightorange: #DDA15E;
    --clr-orange: #BC6C25;
}

body{
    background-color: var(--clr-white);
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Playfair Display', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-darkgreen);
    color: var(--clr-white);
    padding: 20px;
  }
  
  .logo h2 {
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 20px;
    user-select: none;
  }
  
  .nav-toggle-label span {
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    background: var(--clr-white);
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: var(--clr-darkgreen);
      padding: 10px;
      transition: all 0.5s ease;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-toggle-label span {
      margin: 5px 0;
    }
  
    .nav-toggle:checked ~ .nav-links {
      display: flex;
    }
  }
  

  .hero {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    max-width: 800px;
    text-align: center;
    color: var(--clr-darkgreen);
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  button {
    background-color: var(--clr-lightorange);
    color: var(--clr-white);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: var(--clr-orange);
    color: var(--clr-white)
  }
  

  .gaueCe {
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 500px;
    background: linear-gradient(134deg, var(--clr-lightgreen) 0%, var(--clr-darkgreen) 99%);
    transform: skewY(-3deg);
    z-index: -1;
    pointer-events: none;
}

.about-section {
    padding: 80px 0;

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
   

  }
  
  .image {
    flex: 1 1 50%;
    
  }
  
  .image img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-left: auto; 
    margin-right: 0;
  }
  
  
  .text {
    flex: 1 1 50%;
  }
  
  .text p {
    color: var(--clr-white);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  button {
    background-color: var(--clr-lightorange);
    color: var(--clr-white);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  @media screen and (max-width: 992px) {
    .about-content {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .image {
      display: none;
    }
    
    .text {
      flex: none;
      width: 100%;
    }
  }

  .skills-section {
    background-color: var(--clr-white);
    padding: 80px 0;
  }
  
  .skills-section h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    color: var(--clr-white);
    width: 250px;
    margin: 0 30px 30px 0;
    background-color: var(--clr-lightorange);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .skill-name {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
  }



.slider-section{
    min-height: 50vh;
    display: grid;
    place-items: center;
    margin: 80px 0;

}
.slider {
    height: 350px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
    
}
.slide-track{
    display: flex;
    width: calc(350px * 22);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
    
}
.slide {
    height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 25px;
    perspective: 100px;
    
}
.slide img {
    width: 100%;
    transition: transform 1s;
    border-radius: 4%;
    
}
.slide img:hover{
    transform: translateZ(20px);
}

.gaueCe2 {
    margin-top: 70px;
    padding: 20px;
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 500px;
    background: linear-gradient(134deg, var(--clr-lightgreen) 0%, var(--clr-darkgreen) 99%);
    transform: skewY(-3deg);
    z-index: -1;
    pointer-events: none;
}


#projects {
    padding: 100px 0;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    perspective: 100px;
}
.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(var(--clr-lightgreen), var(--clr-darkgreen));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: var(--clr-white);
    transition: height 0.5s;
}
.layer p {
    padding: 0 40px;
}
.layer h3{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--clr-white);
}
.layer .icons{
    display: flex;
    gap: 15px;
}
.layer a{
    margin-top: 20px;
    color: var(--clr-darkgreen);
    text-decoration: none;
    font-size: 36px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: translateZ(20px);
}
.project:hover .layer{
    height: 100%;
}

/* Contact Form */
.row{
    display: flex;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i {
    color: var(--clr-orange);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--clr-darkgreen);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--clr-lightgreen);
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--clr-lightorange);
    padding: 15px;
    margin: 15px 0;
    color: var(--clr-darkgreen);
    font-size: 18px;
    border-radius: 6px;

}
.sub-title{
    font-size: 42px;
    color: var(--clr-darkgreen);
}